
        table,th,td{
            border:3px solid black;
            border-collapse:collapse;
        }
        table{
            text-align:center;
            margin:100px 20px 0px 100px;
            width:70%;
            height:50%;
        }
        th{
            font-size:25px;
        }
        th,td:hover{
            background-color:rgb(193, 243, 243);
        }